<nav class="custom-navbar">
  <div class="navbar-top-bar">
    <div class="navbar-left-icons">
      <div class="icon-container">
        <i class="fas fa-shopping-cart" (click)="toggleCartMenu()"></i>
        <!--<span class="item-count">{{ cartCount }}</span>-->
      </div>
      <div class="icon-container">
        <a routerLink="/wishlist"><i class="fas fa-heart"></i></a>
        <!--<span class="item-count">{{ wishlistCount }}</span>-->
      </div>
    </div>

    <div class="logo d-flex justify-content-between align-content-center">
      <i class="fa-solid fa-paintbrush gradient-icon me-2"></i>
      <h4>BookShelf</h4>
    </div>

    <div class="navbar-right-controls">
      <div class="user-dropdown">
        <i
          class="fas fa-user-friends"
          [routerLink]="!loggedIn ? '/login' : null"
          [class.disabled]="loggedIn"
          style="cursor: pointer"
          title="Login"
        ></i>
        <div class="user-dropdown-content" *ngIf="loggedIn">
          <a routerLink="/user-profile">View profile</a>
          <a routerLink="/" (click)="onLogout()">Logout</a>
        </div>
      </div>
      <i class="fas fa-search" (click)="toggleSearchMenu()"></i>
      <i class="fas fa-bars navbar-menu-toggle" (click)="toggleMenu()"></i>
    </div>
  </div>

  <div class="navbar-bottom-bar">
    <a routerLink="/">Home</a>
    <div class="navbar-recommended-dropdown">
      <a routerLink="/shop">Books</a>
      <!--<div class="navbar-dropdown-content">
        <div class="navbar-dropdown-image-links">
          <div class="navbar-image-box" *ngFor="let category of categories">
            <img [src]="category.image" [alt]="category.title" />
            <button>{{ category.title }}</button>
          </div>
        </div>
      </div>-->
    </div>
    <a routerLink="/">Brands</a>
    <a routerLink="/">Best Sellers</a>
    <a routerLink="/contact-us">Contact us</a>
    <!-- <div class="navbar-pages-dropdown">
      <a class="navbar-pages-link">Pages <i class="fas fa-caret-down"></i></a>
      <div class="navbar-pages-dropdown-content">
        <a routerLink="/about">About us</a>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/faq">FAQ's</a>
        <a routerLink="/contactus">Contact us</a>
      </div>
    </div> -->
  </div>
</nav>

<app-cart-side-menu
  [isCartVisible]="isCartMenuOpen"
  (closed)="isCartMenuOpen = false"
></app-cart-side-menu>
<app-search-menu
  [isSearchVisible]="isSearchMenuOpen"
  (searchClosed)="isSearchMenuOpen = false"
></app-search-menu>
<app-toggle-menu
  [isToggleVisible]="isToggleMenuOpen"
  (toggleClosed)="isToggleMenuOpen = false"
></app-toggle-menu>
