<nav class="custom-navbar">
  <div class="navbar-top-bar">
    <div class="navbar-left-icons">
      <i class="fas fa-shopping-cart" (click)="toggleCartMenu()"></i>
      <a routerLink="/wishlist"><i class="fas fa-heart"></i></a>
    </div>

    <a class="navbar-logo" routerLink="/"
      >BOOK <span class="navbar-logo-highlight">SHOP</span></a
    >

    <div class="navbar-right-controls">
      <i class="fas fa-user-friends"></i>
      <i class="fas fa-search" (click)="toggleSearchMenu()"></i>
      <i class="fas fa-bars navbar-menu-toggle" (click)="toggleMenu()"></i>
    </div>
  </div>

  <div class="navbar-bottom-bar">
    <a routerLink="/checkout">Home</a>
    <div class="navbar-recommended-dropdown">
      <a routerLink="/shop">Recommended <i class="fas fa-caret-down"></i></a>
      <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-image-links">
          <div class="navbar-image-box" *ngFor="let category of categories">
            <img [src]="category.image" [alt]="category.title" />
            <button>{{ category.title }}</button>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="/">Brands</a>
    <a routerLink="/">Best Sellers</a>
    <div class="navbar-pages-dropdown">
      <a class="navbar-pages-link">Pages <i class="fas fa-caret-down"></i></a>
      <div class="navbar-dropdown-content">
        <a routerLink="/about">About us</a>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/faq">FAQ's</a>
        <a routerLink="/contactus">Contact us</a>
      </div>
    </div>
  </div>
</nav>

<app-cart-side-menu
  [isCartVisible]="isCartMenuOpen"
  (closed)="isCartMenuOpen = false"
></app-cart-side-menu>
<app-search-menu
  [isSearchVisible]="isSearchMenuOpen"
  (searchClosed)="isSearchMenuOpen = false"
></app-search-menu>
<app-toggle-menu
  [isToggleVisible]="isToggleMenuOpen"
  (toggleClosed)="isToggleMenuOpen = false"
></app-toggle-menu>
