/* Buttons used for toggling collapse */
button {
  font-family: serif;
  border: none;
  font-size: 1.5rem;
}

/* Section toggle buttons (Genre, Price, Language) */
.btn {
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.5s ease;
  background-color: transparent;
  border: none;
  padding: 0;
}
.btn:hover {
  color: #c43618;
}

/* Section header (Filter:) */
h5 {
  font-size: 1.3rem;
  font-family: serif;
}

/* Checkbox styling */
.form-check-input {
  margin-right: 5px;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 0;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s ease;
}

.form-check-input:hover {
  border-color: #c43618;
}

.form-check-input:checked {
  background-color: transparent;
}

.form-check-input:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 9px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: block;
  transition: border-color 0.3s ease;
}

.form-check-input:checked:hover::before {
  border-color: #c43618;
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
}

/* Label next to checkbox */
.form-check-label {
  font-family: sans-serif;
  margin-left: 8px;
}

/* Active filter badges */
.active-filter-badge {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 9999px;

  color: black;
  font-size: 0.8rem;
  font-family: serif;
  padding: 0.6em;
  cursor: pointer;
  display: inline-flex; /* Inline-flex makes them wrap horizontally */
  align-items: center;
  transition: color 0.4s ease, border-color 0.4s ease;
}

.active-filter-badge:hover {
  color: #c43618;
  border-color: #c43618;
}

/* "Remove all" link */
.remove-btn {
  font-size: 1.2rem;
  transition: color 0.3s ease;
}
.remove-btn:hover {
  color: #c43618 !important;
}
