<header class="mt-5 mb-5">
  <img
    class="wave-1 w-25 d-none d-md-block"
    src="../../assets/wave-1.png"
    alt=""
  />
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="header-text">
          <!-- <h1>
          <span class="welcome-text">Welcome to </span>
          <span class="typing-container">
          <span class="typing-text">{{ displayText }}</span>
          </span>
           <br>Where Every Book Has a Home!
        </h1> -->
          <h1>Welcome to Book Shelf,Where Every Book Has a Home!</h1>
          <p>
            Explore a curated collection of timeless classics, modern
            bestsellers, and hidden gems all at your fingertips.
          </p>
          <a routerLink="/shop">
            <button class="main-btn">Click Here to Start</button></a
          >
        </div>
      </div>
      <div class="col-4">
        <div class="header-image">
          <img src="../../assets/header-pic.png" alt="" />
          <!-- <div class="slider-container">
          <img src="../../../assets/header-pic.png" class="slider-image active" alt="Book 1">
          <img src="../../../assets/books.png" class="slider-image" alt="Book 2">
          </div> -->
        </div>
      </div>
      <!-- <img class="wave-2 w-25" src="../../assets/wave-3.png" alt=""> -->
    </div>

    <!-- <div class="header-text text-center">
          <h1>Welcome to Book Shelf,Where Every Book Has a Home!</h1>
          <p>
            Explore a curated collection of timeless classics, modern
            bestsellers, and hidden gems all at your fingertips.
          </p>
          <button class="main-btn">Click Here to Start</button>
        </div>
      </div>
      <div class="col-12 col-md-4 d-none d-md-block">
        <div class="header-image">
          <img src="../../assets/header-pic.png" alt="" class="img-fluid" />
        </div>
      </div>
      <img
        class="wave-2 w-25 d-none d-md-block"
        src="../../assets/wave-3.png"
        alt=""
      />
    </div>
  </div>
</header>
<!-- End Header -->

    <!-- Start about us -->

    <!-- Books Section -->
    <section class="books-section my-5">
      <div class="container">
        <h1 class="main-header mb-4 fs-1">Our Books</h1>

        <div *ngIf="loading" class="text-center fs-5">Loading...</div>

        <div
          class="row justify-content-center"
          *ngIf="!loading && books.length > 0"
        >
          <div
            class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4"
            *ngFor="let book of books"
          >
            <app-product-card [product]="book"></app-product-card>
          </div>
        </div>
        <p *ngIf="!loading && books.length === 0" class="text-center fs-5">
          No books found.
        </p>
        <div class="d-flex justify-content-end mt-4">
          <a routerLink="/shop" class="btn browse-btn px-4 py-2">
            Browse All Books <i class="fas fa-arrow-right ms-2"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- Offers -->
    <section class="offer py-5 mt-5 my-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
              <a href="">
                <img class="img-fluid" src="../../assets/card-1.png" alt="" />
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
              <a href="">
                <img class="img-fluid" src="../../assets/card-2.png" alt="" />
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
              <a href="">
                <img class="img-fluid" src="../../assets/card-3.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <div class="services mb-5 mt-5">
      <div class="container">
        <h1 class="main-header mb-5 fs-1">Services</h1>
        <div class="row g-4">
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="content d-flex gap-3 align-items-center">
              <i class="fa-solid fa-truck-moving fa-2x"></i>
              <div class="serv-text">
                <h4>Free Shipping</h4>
                <p>Anywhere in Egypt</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="content d-flex gap-3 align-items-center">
              <i class="fa-solid fa-wallet fa-2x"></i>
              <div class="serv-text">
                <h4>Cash on Delivery</h4>
                <p>100% cash on delivery</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="content d-flex gap-3 align-items-center">
              <i class="fa-solid fa-headset fa-2x"></i>
              <div class="serv-text">
                <h4>24/7 Online Support</h4>
                <p>Call & get solution anytime!</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="content d-flex gap-3 align-items-center">
              <i class="fa-solid fa-hand-holding-dollar fa-2x"></i>
              <div class="serv-text">
                <h4>Money Back</h4>
                <p>Within 14 days</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popular books section -->

    <!-- Start Subscribe -->
    <section class="subscribe text-center pt-5 pb-5">
      <div class="container">
        <h1>Subscribe to Our Newsletter</h1>
        <p>Get the latest updates and news delivered to your inbox.</p>
        <div
          class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-2"
        ></div>
      </div>
    </section>

    <app-chatbot></app-chatbot>

    <app-scroll-to-top></app-scroll-to-top>
  </div>
</header>
