<!--Start Header -->
<header class="mt-5 mb-5">
  <img class="wave-1 w-25" src="../../assets/wave-1.png" alt="">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="header-text">
        <h1>
          <span class="welcome-text">Welcome to </span>
          <span class="typing-container">
          <span class="typing-text">{{ displayText }}</span>
          </span>
           <br>Where Every Book Has a Home!
        </h1>
        <p>Explore a curated collection of timeless classics, modern
          bestsellers, and hidden gems all at your fingertips.</p>
        <button class="main-btn">Click Here to Start</button>
      </div>
    </div>
    <div class="col-4">
        <div class="header-image">
          <!-- <img src="../../assets/header-pic.png" alt=""> -->
           <div class="slider-container">
          <img src="../../../assets/header-pic.png" class="slider-image active" alt="Book 1">
          <img src="../../../assets/books.png" class="slider-image" alt="Book 2">
    </div>
    </div>
    </div>
    <img class="wave-2 w-25" src="../../assets/wave-3.png" alt="">
  </div>
  </div>
</header>
<!-- End Header -->

<!-- Start about us -->
<section class="about-us mt-5 mb-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Image Column -->
      <div class="col-12 col-md-5 mb-4 mb-md-0 text-center">
        <div class="about-image">
          <img class="img-fluid" src="../../assets/vintatge.png" alt="Vintage Image">
        </div>
      </div>

      <!-- Text Column -->
      <div class="col-12 col-md-7">
        <div class="about-text text-center text-md-start">
          <h1 class="main-header">About Us</h1>
          <p>
            At Book Shelf, we believe that reading is not just a hobby it's a lifestyle.
            We created this platform to bring together book lovers from all walks of life
            and make discovering, reviewing, and purchasing books an enjoyable and personalized experience.
            Our goal is to help you find books that speak to your mind and soul, while also building
            a space where readers can connect, share insights, and inspire one another.
            Whether you're into timeless classics, modern bestsellers, or niche genres, you'll find a home here
            a place where every page turns into a new journey.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- books section -->
<section class="best-seller">
  <div class="container">
    <h1>Best Seller all time</h1>
  </div>
</section>


<!-- Offers -->
  <section class="offer py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100">
          <a href="">
            <img class="img-fluid" src="../../assets/card-1.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100">
          <a href="">
            <img class="img-fluid" src="../../assets/card-2.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100">
          <a href="">
            <img class="img-fluid" src="../../assets/card-3.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
  <div class="services mb-5 mt-5">
  <div class="container">
    <h1 class="main-header mb-5 fs-1">Services</h1>
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="content d-flex gap-3 align-items-center">
          <i class="fa-solid fa-truck-moving fa-2x"></i>
          <div class="serv-text">
            <h4>Free Shipping</h4>
            <p>Anywhere in Egypt</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="content d-flex gap-3 align-items-center">
          <i class="fa-solid fa-wallet fa-2x"></i>
          <div class="serv-text">
            <h4>Cash on Delivery</h4>
            <p>100% cash on delivery</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="content d-flex gap-3 align-items-center">
          <i class="fa-solid fa-headset fa-2x"></i>
          <div class="serv-text">
            <h4>24/7 Online Support</h4>
            <p>Call & get solution anytime!</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="content d-flex gap-3 align-items-center">
          <i class="fa-solid fa-hand-holding-dollar fa-2x"></i>
          <div class="serv-text">
            <h4>Money Back</h4>
            <p>Within 14 days</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Popular books section -->
<section class="popular">
  <div class="container">
    <h1>Popular this Month</h1>
    <div class="books-content">

    </div>
  </div>
</section>



<!-- Start Subscribe -->
<section class="subscribe text-center  pt-5 pb-5" >
  <div class="container">
      <h1>Subscribe to Our Newsletter</h1>
      <p>Get the latest updates and news delivered to your inbox.</p>
      <input style="width: 350px; border-radius: 2px; border-color: transparent;" class=" field-style me-1 p-2" type="text" placeholder="Enter your email address">
      <input class="Sub-btn p-2" type="submit" title="Subscribe">
  </div>
</section>

 <app-scroll-to-top></app-scroll-to-top>
 <app-chatbot></app-chatbot>

<!-- <app-footer></app-footer> -->
