/* Make sure there is no focus outline or highlight */
.offcanvas .custom-close-btn:focus {
  box-shadow: none;
  outline: none;
}

/* Style the icon inside the close button */
.offcanvas .custom-close-btn i {
  color: black;
  transition: color 0.3s ease;
}

/* Hover effect: turn orange */
.offcanvas .custom-close-btn:hover i {
  color: #c43618;
}
.filter-toggle-btn {
  margin-left: 2rem; /* or any spacing you prefer */
  padding: 7px;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
  font-size: 1rem;
}

.filter-toggle-btn:focus,
.filter-toggle-btn:active {
  background-color: var(--main-color);
  color: #fff;
  border-color: none;
  outline: none;
}
.close-icon,
.offcanvas-title {
  font-size: 1.5rem;
}
.filter-icon {
  font-size: 1.3rem;
}
