/* scroll btn */
.up {
  position: fixed;
  bottom: 80px;
  right: -60px;
  background-color: #fff;
  color: var(--main-color);
  border-color: var(--main-color);
  font-weight: bold;
  font-size: 35px;
  padding: 20px 25px;
  border-radius: 50%;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.2s;
}
.up.show {
  right: 10px;
}
