/* scroll btn */
.up {
  position: fixed;
  bottom: 26px;
  right: -200px;
  background-color: #fff;
  color: var(--main-color);
  border: 3px solid var(--main-color);
  padding: 8px 12px;
  margin-right: 80px;
  border-radius: 50%;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.2s;
  z-index: 100;
}
.up i {
  font-weight: bolder;
  font-size: 27px;
}
.up.show {
  right: 10px;
}
