<div class="thank-you-wrapper">
  <div class="thank-you-box">
    <h1>🎉 Thank You!</h1>
    <p>Your payment was successful.</p>

    <div class="text-center mt-4">
      <button
        routerLink="/orders"
        class="btn btn-custom btn-orders me-3"
      >
        <i class="bi bi-clock-history me-2"></i>
        View My Orders History
      </button>

      <button
        routerLink="/"
        class="btn btn-custom btn-home"
      >
        <i class="bi bi-shop-window me-2"></i>
        Continue Shopping
      </button>
    </div>
  </div>
</div>
