.order-card {
  border-radius: 12px;
  transition: transform 0.2s ease;
}
.order-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-header {
  border-radius: 12px 12px 0 0;
}
.card-footer {
  border-radius: 0 0 12px 12px;
}

h2{
    color: #c43618;
}

.price{
   color:  #c43618;
}

.load{
       color: rgb(97, 19, 19);

}

.orange-button {
  background-color: #c43618 ;
  color: white;
  border: 1px solid #c43618;
}

