.admin-footer {
  padding: 15px 20px;
  background-color: #fff;
  border-top: 1px solid var(--border-color);
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #6c757d;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #6c757d;
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.admin-footer p {
  margin: 0;
  color: #6c757d;
  font-size: 14px;

}
