/* You can add global styles to this file, and also import other style files */

:root {
  --main-color:#c43618;
  --secondary-color:#e5dfc6;
  --padding-color:#6f6f6f;
}

body{
  background-color: #FBF6F0;
  font-family: "Cormorant Garamond", serif;
}

/*Logo*/
.gradient-icon {
  font-size: 35px;
  background: linear-gradient(to right, #dbc87e 40%,  var(--main-color)  50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h4 {
  font-size: 28px;
  font-weight:600;
  color: var(--main-color);
}
/* =======still editing */

:root {
  --primary-color: #cc3a2e;
  --text-color: #000000;
  --overlay-bg: rgba(0, 0, 0, 0.4);
  --overlay-white: rgba(255, 255, 255, 0.85);
  --font-main: Georgia, serif;
  --border-color: #cccccc;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --icon-color: #333333;
  --icon-hover-color: #000000;
  --search-bg: #ffffff;
  --search-border: #000000;
  --hover-shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.toast-success {
  background-color: #4caf50;
}
.toast-error {
  background-color: #f44336;
}
.toast-warning {
  background-color: #ff9800;
}
