<!-- footer -->
<footer class="footer bg-dark  ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 align-items-sm-center">
                <div class="logo d-flex">
                  <i class="fa-solid fa-paintbrush gradient-icon me-2"></i><p class="h4">BookShelf</p>
                </div>
                <p>we're more than just an online bookstore we're a space built by readers, for readers. Whether you're here to discover your next favorite book, share your thoughts, or simply enjoy the beauty of reading, we're glad to have you with us. Let's turn every page togethe.</p>
                <div class="social-icons text-center">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-2 mb-4 text-center">
                <h5 class="footer-title ms-3">Product</h5>
                <ul class="footer-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Templates</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Examples</a></li>
                </ul>
            </div>
            <div class="col-lg-2 mb-4 text-center">
                <h5 class="footer-title ms-3">Resources</h5>
                <ul class="footer-links">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Career Tips</a></li>
                    <li><a href="#">Resume Guide</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>
            <div class="col-lg-2 mb-4 text-center">
                <h5 class="footer-title ms-3">Company</h5>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                </ul>
            </div>
            <div class="col-lg-2 mb-4 text-center">
                <h5 class="footer-title ms-3">Legal</h5>
                <ul class="footer-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">GDPR</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 BookShelf . All rights reserved.</p>
        </div>
    </div>
</footer>
